* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle at top, #1e3c72, #0f2027);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.portfolio {
    width: 90%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(14px);
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    animation: fadeIn 1.2s ease;
}

/* CONTACT BUTTON */
.contact-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    background: linear-gradient(45deg, #ff512f, #dd2476);
    padding: 12px 22px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.contact-btn:hover {
    transform: scale(1.1);
}

/* PROFILE */
.profile {
    margin-top: 40px;
}

.profile-ring {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    padding: 4px;
    margin: auto;
  
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000;
}

.profile h1 {
    margin-top: 20px;
    font-size: 32px;
}

.profile h3 {
    font-weight: 400;
    opacity: 0.9;
}

.tagline {
    margin: 10px 0 15px;
    font-size: 14px;
    opacity: 0.8;
}

.linkedin {
    text-decoration:underline;
    color: #00e5ff;
    font-size: 15px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    background: rgba(255,255,255,0.15);
    border-radius: 18px;
    padding: 25px;
    transition: 0.4s;
}

.card i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #00e5ff;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    background: rgba(255,255,255,0.25);
    box-shadow: 0 0 20px rgba(0,229,255,0.4);
}

/* ACTION BUTTONS */
.actions {
    margin-top: 35px;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
    background: #00e5ff;
    color: #000;
    font-weight: 600;
    margin: 10px;
    display: inline-block;
}

.btn.secondary {
    background: transparent;
    color: #fff;
    border: 2px solid #00e5ff;
}

.btn:hover {
    transform: scale(1.1);
}

/* ANIMATIONS */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}
a{
    border-top: 20px;
}
